*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navviews.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
.navigation

# Built outputs
*.apk
*.aar
*.ap_
*.aab

# Android Studio / IntelliJ IDE files
.idea/
*.ipr
*.iws

# Gradle files
.gradle/
build/
